.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
  
  .width-and-height {
    height: 50px;
    width: 50px;
  }
  
  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
  .padding {
    padding: 20px;
  }
  
  /* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
  .margin {
    margin: 30px;
  }
  
  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
  .border {
    border: 5px solid black;
  }

  .content {
    background-color: blue;
    width: 200px;
    height: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 25px;
    height: 92px;

  }
  .padding2 {
    background-color: green;
    width: 250px;
    height: 150px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 25px;
    width: 250px;
    height: 128px;

  }
  .border2 {
    /* border: 18px solid black; */
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 300px;
    height: 164px;
    margin-left: 25px;
  }
  .margin2 {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 350px;
    height: 200px;
    float: right
  }