* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #92A9BD;
}

h1 {
	margin: 40px 0 20px 0;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
	border: 1px solid black;
	border-radius: 20px;
	background-color: #EFEFEF;
	width: 50%;
	margin: 0 auto;
	padding: 20px 5px;
}

form {
	width: 90%;
	margin: 10px auto;
}

#name-input,
#email-input,
#password-input,
textarea {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 2px;
	font-size: 1.1em;
}

input[type=radio] {
	margin: 0 0 20px 10px;
}

input[type=date] {
	margin: 0 0 20px 10px;
}

textarea {
	resize: none;
}

#check-1, #check-2 {
	margin: 0 0 20px 0;
}

button {
	padding: 10px;
	margin: 0 20px 0 0;
	width: 150px;
}