.lista-ordenada {
    background-color: yellow;
}

.par {
    color: green;
}

.impar {
    text-transform: uppercase;
}

.header {
    color: red;
}

.header em {
    font-size: 40px;
    border: solid 1px black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.primeiras {
    color: blue;
}

.java {
    background-color: pink;
}

link.hover {
    font-weight: bold;
}