* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	text-align: center;
}

html {
	background-color: #ABD9FF;
}

header {
	margin: 0 auto;
}

.header-container {
	display: flex;
	justify-content: center;
	max-width: 1366px;
	width: 95%;
	background-color: #EEF1FF;
	border-radius: 15px;
}

.header-container h1 {
	font-size: 2em;
	margin: 10px 0 20px 0;
}

.article-container {
	margin: 10px auto;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	max-width: 1366px;
	width: 95%;
	background-color: #EEF1FF;
	border-radius: 15px;
	padding: 15px;
}

.article-container p {
	font-size: 1.1em;
	margin: 0 20px 20px 20px;
	max-width: 1000px;
}

.article-container p:last-child {
	margin-bottom: 30px;
}

.main-container {
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	max-width: 1366px;
	width: 95%;
	background-color: #EEF1FF;
	border-radius: 15px;
	padding: 10px;
}

.grid-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.kitty-container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin: 20px 30px;
}

.kitty-container img {
	width: 100%;
	object-fit: contain;
	border-radius: 20px;
}

@media (max-width: 1115px) and (min-width: 750px) {
	html {
		background-color: forestgreen;
	}
	.kitty-container {
		margin: 5px 5px;
		width: 40%;
	}
}